@{
    ViewData["Title"] = "Serviços";
}

<h3>@ViewData["Title"]</h3>
<h5>Conheça nossos Serviços para seus Pets: Gato e Cachorro:</h5>
<br><h6><i>Para outros tipos de Pets visite a nossa Clínica</i></h6>
<ul>
    <li><b>Banho: </b> 
        <ul>
            <li>Pets Porte Pequeno: </li>
            <li>Valor: R$ 50,00; </li>
        </ul>
        <ul>
            <li>Pets Porte Médio:</li>
            <li>Valor: R$ 70,00; </li>
        </ul>
        <ul>
            <li>Pets Porte Grande: </li>
            <li>Valor: R$ 100,00;</li>
        </ul>
    </li>
    <li><b>Tosa:</b> 
        <ul>
            <li>Pets Porte Pequeno: </li>
            <li>Valor: R$ 80,00;</li>
        </ul>
        <ul>
            <li>Pets Porte Médio: </li>
            <li>Valor: R$ 100,00;</li>
        </ul>
        <ul>
            <li>Pets Porte Grande: </li>
            <li>Valor: R$ 120,00;</li>
        </ul>
    </li>
    <li> <b>Corte de unhas: </b>
        <ul>
            <li>Pets Porte Pequeno:</li>
            <li>Valor: R$ 5,00;</li>
        </ul>
        <ul>
            <li>Pets Porte Médio:</li>
            <li>Valor: R$ 10,00;</li>
        </ul>
        <ul>
            <li>Pets Porte Grande:</li>
            <li> Valor: R$ 15,00;</li>
        </ul>
    </li>
</ul>